@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

.board {
    margin: auto;
    min-width: 280px;
    max-width: 353px;
    height: 700px;
    font-family: 'Caveat', sans-serif;
    border: 20px solid #654321;
    border-radius: 5%;
    background-color: #654321;
    position: relative;
    margin-top: 30px;
}

.paper {
    width: 100%;
    height: 90%;
    background-color: beige;
    position: relative;
    border: 1px solid;
}

.paper::after,
.paper::before {
    content: " ";
    height: 10px;
    position: absolute;
    border: 1px solid;
    border-top: 0;
}

.paper::after {
    width: 99%;
    bottom: -12px;
    left: 1px;
}

.paper::before {
    width: 98%;
    bottom: -23px;
    left: 2px;
}

.holder {
    width: 46%;
    height: 10%;
    background-color: transparent;
    border: 10px solid 	#757575;
    border-radius: 23%;
    position: absolute;
    left: 26%;
    top: -3%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.holderHead {
    width: 60%;
    height: 67%;
    background-color: #757575;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -46px;
}

.circle {
    width: 30%;
    height: 50%;
    border-radius: 50%;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 80%;
}

.header {
    text-align: center;
    font-size: 33px;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 35px;
}